/*-- scss:defaults --*/

// Fonts
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

// Colors 
//$indigo: #01161e;
$dark_blue:#124559;
//$blue: #598392;
$green: #607744;
$wine: #773344;
$light_green: #d3dbd4;
$white: #FBFEF9;


//#cfdbd5

// Base Document Colors
$navbar-bg: $dark_blue;
$navbar-fg: $light-green;
$body-bg: $white;
$link-color: $wine;
//$fontcolor: $dark_blue;

// Define a class for blockquotes - not currently using 
.blockquote {
  margin: 20px 0;
  padding: 10px;
  border-left: 3px solid $light_green;
  font-style: italic;
  color: $dark_blue;
}


// Apply the blockquote styles to the element
blockquote {
  @extend .blockquote;
}

// Font size: 

$my-font-size: 12;

/*-- scss:rules --*/

h1, h3 {
  letter-spacing: 4px;
  font-weight: 700;
  color: $green;
}

.title {
  color: $dark_blue;
}

.custom-subtitle {
  font-size: 22px;
  font-style: italic;
  //color: $wine;
}


.lightgreen-bg {
  background-color: $light_green;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 8px;
  padding-left: 8px;
  border-radius: 20px;
  margin-bottom: 20px;
}


.green-bg {
  background-color: $green;
  padding: 20px;
  border-radius: 20px;
  margin-top: 20px;
  width: 100%; 
}


.blue-bg {
  background-color: $dark_blue;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 20px;
  padding-left: 20px;
  border-radius: 20px;
  margin-top: 20px;
  width: 100%; 
}

.download-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #124559; /* Button color */
    color: white; /* Button text color */
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
}



